.home-page-container {
  padding: 20px;
}

.welcome-container {
  background-color: #ffffff; /* White background */
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

.welcome-message {
  font-size: 24px;
  font-weight: bold;
  color: #ff8c00; /* Lighter orange */
  margin-bottom: 10px;
}

.admin-status {
  color: #ff8c00; /* Lighter orange */
}

.section-title {
  font-size: 22px;
  color: #ff8c00; /* Lighter orange */
  margin-bottom: 10px;
}

.tab-content {
  padding: 20px;
}
